<% content_for :page_title, "Contact" %>

  <div class="container">
    <h2 class="title is-4 has-text-centered">Get in touch for work and feedback!</h2>
    <br>
    <div class="columns has-text-centered">
      <div class="column is-6">
        Drop an email at:
      </div>
      <div class="column is-6 ">
        sarahahmad17@gmail.com
      </div>
    </div>
    <hr/>
    <div class="columns has-text-centered">
      <div class="column is-6">
        Reach out on LinkedIn:
      </div>
      <div class="column is-6">
        ca.linkedin.com/in/sarahrehan85
      </div>
    </div>
    <hr/>

    <footer class="footer">
      <!-- <ul class="flex-container"> <li class="flex-item"></li> <li class="flex-item"></li> <li class="flex-item"></li> <li class="flex-item"></li> <li class="flex-item"></li> <li class="flex-item"></li> </ul> -->
      <br/>
      <small class="is-pulled-right">SarahRehan 2020</small>
    </footer>
  </div>