<% content_for :page_title, 'Blog Posts' %>

  <div class="container">
    <div class="columns is-multiline">
      <% @posts.each do |post| %>
        <div class="column column-post is-flex is-one-quarter">
          <h2 class="title is-4">
            <%= link_to post.title, post %>
          </h2>
          <%= sanitize(post.content.truncate(100)) %>
          <hr/>
          <%= link_to 'Read more', post %>
        </div>
      <% end %>
    </div>
  </div>